<footer class="oleez-footer ">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-md-6">
                    <img src="../../assets/img/APRESEAtivo 2.png" alt="oleez" class="footer-logo">
                    <p class="footer-intro-text"></p>
                    <nav class="footer-social-links">
                        <a href="#!">Home</a>
                    </nav>
                    <nav class="footer-social-links">
                        <a href="#!">Vagas</a>
                    </nav>
                    <nav class="footer-social-links">
                        <a href="#!">Sobre nós</a>
                    </nav>
                    <nav class="footer-social-links">
                        <a href="#!">Contato</a>
                    </nav>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 footer-widget-text">
                            <h6 class="widget-title">TELEFONE</h6>
                            <p class="widget-content">+55 (11) 1234-4567</p>
                        </div>
                        <div class="col-md-6 footer-widget-text">
                            <h6 class="widget-title">E-MAIL</h6>
                            <p class="widget-content">projetogamatr25@gmail.com</p>
                        </div>
                        <div class="col-md-6 footer-widget-text">
                            <h6 class="widget-title">ENDEREÇO</h6>
                            <p class="widget-content">Rua Cônego Eugênio Leite, 623 <br> Brasil, São Paulo</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-text d-flex justify-content-center">
          <p class="mb-md-0">© Projeto Gama - Todos os direitos reservados.</p>
        </div>
    </div>
</footer>
