
  body {
    background-color: #DBEDF4;
    /* background-image: url(src\assets\img\BACKGRPUND.svg); */
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 100% auto;
      
      
    }
  
    .btn-logar{
      color: #ffff;
      background-color: #03658C;
      border: none;
    }

  .brand-wrapper {
    margin-bottom: 19px; 
    display: flex;
    justify-content: center;
  }
    .brand-wrapper .logo {
      height: 37px; 
  }
  
  
  .login-card {
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    overflow: hidden;
  }
  .login-card-img {
      border-radius: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; 
    }
    .login-card .card-body {
      padding: 35px 10px 60px; 
      
    }
    .container .card-body{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .card-body form{
      width: 100%;
    }
    .login-card-description {
      text-align: center;
      font-size: 25px;
      color: #000;
      font-weight: normal;
      margin-bottom: 23px; 
    }
    .login-card form {
      max-width: 326px; 
    }
    .login-card .form-control {
      border: 1px solid #000000;
      border-radius: 50px;
      padding: 15px 25px;
      /*margin-bottom: 0px;*/
      min-height: 20px;
      font-size: 13px;
      line-height: 15;
      font-weight: normal; 
    }
      .login-card .form-control::-webkit-input-placeholder {
        color: #60666d; 
      }
      .login-card .form-control::-moz-placeholder {
        color: #60666d; 
      }
      .login-card .form-control:-ms-input-placeholder {
        color: #60666d; 
      }
      .login-card .form-control::-ms-input-placeholder {
        color: #60666d; 
      }
      .login-card .form-control::placeholder {
        color: #60666d; 
      }
    .login-card .login-btn {
      display: inline;
      align-items: center;
      margin: 5px;
      padding: 12px 20px;
      background-color: #03658C;
      border-radius: 50px;
      font-size: 17px;
      font-weight: bold;
      line-height: 20px;
      color: #fff;
      margin-bottom: 24px; 
    }
    .login-card .login-btn:hover {
        border: 1px solid #000;
        background-color: transparent;
        color: #000; 
    }
    .login-card{
      font-size: 14px;
      color: #60666d;
      margin-bottom: 12px; 
    }
    .login-card-footer-texto p {
      margin-top: 50px;
    }
    
      
    .login-card-footer-nav a {
      font-size: 14px;
      color: #60666d; }

      .cancel-btn {
        display: inline;
        align-items: center;
        margin: 5px;
        padding: 12px 18px;
        background-color: #c40700;
        border-radius: 50px;
        font-size: 15px;
        font-weight: bold;
        line-height: 20px;
        color: #fff;
        margin-bottom: 24px; 
      }