<body>
  <nav class="navbar navbar-fixed navbar-expand-lg navbar-color">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../assets/img/APRESEAtivo 2.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="text-white  m-3" href="#" routerLink='/home' tabindex="-1" aria-disabled="true">Home</a>
          </li>
          <li class="nav-item">
            <a class="text-white m-3"  routerLink="/sobre" tabindex="-1" aria-disabled="true">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="text-white m-3" href="#" routerLink='/contato' tabindex="-1" aria-disabled="true">Contato</a>
          </li>
        </ul>
        <form class="d-flex align-itens-end">
          <button class="btn-logar" routerLink='/login'>Login</button>
        </form>
      </div>
    </div>
  </nav>

  <main class="about-page">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <div class="row text-center">
            <h1 class="oleez-page-title wow fadeInUp">Sobre nós</h1>
            <p class="feature-card-content">O Gama foi o projeto proposto e desenvolvido pelo grupo 7 durante
              o Bootcamp de Desenvolvedor Java Fullstack Junior da Generation Brasil.
              Foi pensado apartir da ODS 8 da ONU que consiste em promover o crescimento econômico, inclusivo,
              sustentável, emprego pleno e produtivo e trabalho decente para todes.
            </p>
            <img src="../../assets/img/fotosobre.jpg" alt="about" class="w-100 wow fadeInUp"><!-- alterei imagem e alguns tamanhos e font -->
            <section class="oleez-about-features">
              <div class="row d-flex justify-content-center">
                <div class="col-md-4 mb-5 mb-md-0 feature-card wow fadeInUp">
                  <h4 class="feature-card-title">Abordagem</h4>
                  <p class=" feature-card-content ">Após debates de ideias decidimos que o dentro do que a ODS 8 abrange, nós
                    iriamos abordar a problemática dos imigrantes no Brasil a fim de lutar contra a
                    escrvidão
                    moderna.</p>
                </div>
                <div class="col-md-4 mb-5 mb-md-0 feature-card wow fadeInUp">
                  <h4 class="feature-card-title">Missão</h4>
                  <p class=" feature-card-content"> O objetivo do projeto, além de compartilhar informações e denunciar a
                    escravidão moderna, é também divulgar oportunidades e apoio para que eles possam ter liberdade e
                    dignadade.
                  </p>
                </div>
                <div class="col-md-4 mb-5 mb-md-0 feature-card wow fadeInUp">
                  <h4 class="feature-card-title">Ideia</h4>
                  <p class="feature-card-content">Sendo assim, criamos uma API no formato de rede social, com uma home
                    bastante
                    informativa e, após o cadastro, uma plataforma para a ligação de pessoas que estão precisando de uma
                    oportunidade com empresas que, além de contratar profissionais totalmente capacitados, queiram ajudar
                    uma
                    causa tão importante. </p>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <section class="oleez-what-we-do">
        <div class="row">
          <div class="col-md-12">
            <div class="row text-center">
              <h2 class="section-title wow fadeInUp">Habilidades e competencias</h2>

              <div class="row d-flex justify-content-center mt-5">
                <div class="col-md-4 mb-5 mb-md-0 wow fadeInUp">
                  <h5 class="what-we-do-list-title">Back-end</h5>
                  <ul class="what-we-do-list">
                    <li>Java para programção e criação de API's REST</li>
                    <li>Structured Query Language (SQL)</li>
                    <li>Spring Boot</li>
                    <li>Eclipse IDE</li>
                    <li>Git e Github</li>
                  </ul>
                </div>
                <div class="col-md-4 mb-5 mb-md-0 wow fadeInUp">
                  <h5 class="what-we-do-list-title">Front-End</h5>
                  <ul class="what-we-do-list">
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                    <li>Boostrap</li>
                    <li>Angular</li>
                    <li>VSCode</li>
                  </ul>
                </div>
                <div class="col-md-4 mb-5 mb-md-0 wow fadeInUp">
                  <h5 class="what-we-do-list-title">Soft Skills</h5>
                  <ul class="what-we-do-list">
                    <li>Metodologia Ágil: Scrum</li>
                    <li>Trabalho em equipe</li>
                    <li>Atenção aos detalhes</li>
                    <li>Proatividade</li>
                    <li>Comunicação</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">

          <div class="col-md-10">
            <div class="row">
              <h2 class="section-title ">Conheça nosso time de desenvolvedores</h2>
            </div>

            <div class="row text-center">
              <p>Gostou do projeto? Conheça mais sobre nós. Acesse nossas redes sociais!</p>
            </div>

          </div>
          <div class="row d-flex justify-content-center">
            <!-- Team Member 1 -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-0 shadow">
                <img src="../../assets/img/dj.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title mb-0">Felipe Januário</h5>
                  <div class="card-text text-black-50">Desenvolvedor Fullstack</div>
                  <ul class="social-network d-flex">
                    <li>
                      <a href="https://github.com/" target="_blank" class="iconGithub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>

                    <li>
                      <a href="https://www.linkedin.com/" target="_blank" class="iconLinkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-0 shadow">
                <img src="../../assets/img/tazo.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title mb-0">Gustavo Simões</h5>
                  <div class="card-text text-black-50">Desenvolvedor Fullstack</div>
                  <ul class="social-network d-flex">
                    <li>
                      <a href="https://github.com/" target="_blank" class="iconGithub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>

                    <li>
                      <a href="https://www.linkedin.com/" target="_blank" class="iconLinkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-0 shadow">
                <img src="../../assets/img/jonathan.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title mb-0">Jonathan Silva</h5>
                  <div class="card-text text-black-50">Desenvolvedor Fullstack</div>
                  <ul class="social-network d-flex">
                    <li>
                      <a href="https://github.com/" target="_blank" class="iconGithub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>

                    <li>
                      <a href="https://www.linkedin.com/" target="_blank" class="iconLinkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
            <!-- Team Member 4 -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-0 shadow">
                <img src="../../assets/img/giovanni2.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title mb-0">Giovanni Cerqueira</h5>
                  <div class="card-text text-black-50">Desenvolvedor Fullstack</div>
                  <ul class="social-network d-flex">
                    <li>
                      <a href="https://github.com/Giovanni-SVC" target="_blank" class="iconGithub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>

                    <li>
                      <a href="https://www.linkedin.com/in/giovannicerqueira/" target="_blank" class="iconLinkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer class="oleez-footer ">
    <div class="container">
      <div class="footer-content">
        <div class="row">
          <div class="col-md-4">
            <img src="../../assets/img/APRESEAtivo 2.png" alt="oleez" class="footer-logo">
            <p class="footer-intro-text"></p>
            <nav class="footer-social-links">
              <a routerLink='/home'>Home</a><!-- ajustei o caminho  -->
            </nav>
           <!-- tirei o vagas -->
            <nav class="footer-social-links">
              <a routerLink='/sobre'>Sobre nós</a><!-- ajustei o caminho  -->
            </nav>
            <nav class="footer-social-links">
              <a routerLink='/contato'>Contato</a><!-- ajustei o caminho  -->
            </nav>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6 footer-widget-text">
                <h6 class="widget-title">TELEFONE</h6>
                <p class="widget-content">+55 (11) 1234-4567</p>
              </div>
              <div class="col-md-6 footer-widget-text">
                <h6 class="widget-title">E-MAIL</h6>
                <p class="widget-content">projetogamatr25@gmail.com</p>
              </div>
              <div class="col-md-6 footer-widget-text">
                <h6 class="widget-title">ENDEREÇO</h6>
                <p class="widget-content">Rua Cônego Eugênio Leite, 623 <br> Brasil, São Paulo</p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
      <div class="footer-text d-flex justify-content-center">
        <p class="mb-md-0">© Projeto Gama - Todos os direitos reservados.</p>
      </div>
    </div>
    </footer>
</body>