<!-- inicio -->
<body>
<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card mt-4">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src={{user.foto}} alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{user.nomeCompleto}}</h4>
                <p class="text-secondary mb-1">{{user.cursos}}</p>
                <p class="text-muted font-size-sm">{{user.endereco}}</p>
              </div>
            </div>
          </div>
          <div class="card h-100">
            <div class="card-body">
              <h6 class="mb-0 text-center">Objetivo Profissional</h6>
              <small>{{user.objetivoProfissional}}</small>
            </div>
          </div>
          <!-- Barra de idioma -->
          <div class="card h-100">
            <div class="card-body">
              <h5 class="d-flex align-items-center mb-3">Idiomas</h5>
              <form>
                <div class="form-group "><!-- Barra de idioma -->
                  <!-- <input class=" input form-control " for="form-Control"   type="text"  placeholder="Outro idioma" >  -->
                  <h6>{{user.idiomas}}</h6>

                </div>
              </form>


            </div>
          </div>
      <!-- Barra de idioma -->

        </div>

      </div>
      <div class="col-md-8">
        <div class="card mb-3 mt-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Nome Completo</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.nomeCompleto}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.login}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Telefone</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.telefone}}
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Endereço</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.endereco}}
              </div>
              <div class="col-sm-3">
                <h6 class="mb-0">CEP</h6>
              </div>
              <div class="col-sm-3 text-secondary">
                {{user.cep}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Formação Academica</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.formacaoAcademica}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Curso</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.cursos}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Experiência Profissional</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.experiencia1}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Experiência Profissional</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.experiencia2}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Experiência Profissional</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.experiencia3}}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- end -->
</body>
