<nav class="navbar navbar-expand-lg navbar-color">
  <div class="container-fluid">
      <h2 class="navbar-brand" href="#">
          <img src="../../assets/img/APRESEAtivo 2.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        </h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink='/feed-user'>{{menu}}</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/sobre">Sobre nós</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="contato">Contato</a>
        </li> -->
      </ul>
      <form class="d-flex align-itens-end">
        <button class="btn btn-outline-dark" (click)='sair()' href='' type="submit">Sair</button>
      </form>
    </div>
  </div>
</nav>
