<body>
    <div class="container">
      <div id="main-wrapper">
        <div class="row gutters-sm">
          <div class="profile-nav col-md-4 mt-4">
            <!-- Menu lateral -->
            <div class="user-heading round">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <a>
                      <img src="{{foto}}" alt="">
                    </a>
                    <h1 class="nome">{{nome}}</h1>
                    <p>{{tipoUsuario}}</p>
                  </div>
                  <ul class="nav">
                    <li><a [routerLink]="['/feed-user']" id="nav-postagensPorTema-tab" data-toggle="tab" href="#postagensPorTema">
                        Feed</a>
                    </li>
                    <li><a [routerLink]="['/user-edit', idUser]">Editar Perfil</a></li>
                    <li><a (click)='findByIdUser()' id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens"
                        role="tab" aria-controls="nav-minhasPostagens" aria-selected="true">Minhas
                        Candidaturas</a></li>
                    <li><a [routerLink]="['/curriculo', idUser]">Editar Curriculo</a></li>
                    <li><a [routerLink]="['/view-curriculo', idUser]">Visualizar Curriculo</a></li>
                  </ul>
                </div>
              </div>
              <ul class="nav">
                <!-- pesquisa por titulo -->
                <!-- <div class="form-group espacoDigite">
                  <input type="text" class="form-control" id="tituloPost"
                    placeholder="Digite o titulo da postagem" [(ngModel)]='tituloPost'
                    (keyup)='findByTituloPostagem()'>
                </div> -->
                <!-- pesquisa por conteudo -->
                <!-- <div class="form-group espacoDigite">
                  <input type="text" class="form-control" id="conteudo"
                    placeholder="Digite palavras-chaves" [(ngModel)]='conteudo'
                    (keyup)='findByConteudoPostagem()'>
                </div> -->
                <!-- pesquisa por tema -->
                <div class="form-group espacoDigite">
                  <input type="text" class="form-control" id="cate" placeholder="Vagas" [(ngModel)]='categoria'
                    (keyup)='findByCategoriaTema()'>
                </div>
                <!-- pesquisar por palavra-chave -->
                <!-- <div class="form-group">
                          <input type="text" class="from-control" id="palavraChave" placeholder=""
                              [(ngModel)]='palavraChave' (keyup)='findByPalavraChaveTema()'>
                      </div> -->
              </ul>
            </div>
          </div>
          <!-- End Menu lateral -->
          <!-- Feed -->
          <div class="col-md-8 tab-content mt-4" id="nav-tabContent">
            <!-- Minhas postagens -->
            <div class="col-md-10 tab-pane fade show active" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
              <div class="tab-content " id="nav-tabContent">
                <div class="card mt-2 pt-2  pb-0 px-3" *ngFor='let item of user.postagem | orderBy : key : reverse'>
                <div class="card-body">
                  <h5 class="card-title m-0">{{item.titulo}}</h5>
                  <small class="card-text">Tema: {{item.tema.descricao}}</small>
                  <p class="card-text mt-3">{{item.conteudo}}<small class="text-muted">
                          {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}</small></p>
                  <div class="row d-flex">
                    <button class='btn-apagar' [routerLink]="['/postagem-delete', item.id]" href="">Apagar</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Minhas postagens -->
            </div>
          </div>
          <!-- End Feed -->
        </div>
      </div>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="Cadindatar-se" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" style="border-radius: 15px;">
            <div class="modal-header" >
              <h5 class="modal-title" id="exampleModalLabel">Curriculo</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="background-color: #F2B714;">
              <div class="form-group">
                <label for="titulo">Digite o nome da vaga</label>
                <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
                  placeholder="{{tema.categoria}}" autocomplete="off" style="border-radius: 25px;">
              </div>
              <!-- <div class="form-group">
                <label for="anexo">Código de Usuário</label>
                <input [(ngModel)]='postagem.anexo' type="text" class="form-control" id="anexo"
                  placeholder="Digite: {{idUser}}" >
              </div> -->
               <div class="form-group">
                <label for="conteudo">Escreva uma mensagem para a empresa.</label>
                <textarea [(ngModel)]='postagem.conteudo' name="texto" id="conteudo" class="form-control"
                  rows="3" style="border-radius: 25px;"></textarea>
              </div>
              <!-- <div cla
                  <a routerLink="/tema" data-dismiss="modal">cadastre um novo</a>:ss="form-group">
                <label for="tema">Escolha o tipo da publicação
                  </label>
                <select  name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
                  <option *ngFor='let item of listaTemas' value="{{item.id}}">
                    {{item.categoria}}</option>
  
                </select>
              </div> -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn " data-dismiss="modal" style="background-color: rgb(146, 146, 146);">Cancelar</button>
              <button type="button" class="btn " data-dismiss="modal" (click)='publicar()' style="background-color:#14668D ;">Enviar</button>
            </div>
          </div>
        </div>
      </div>
  </body>

