<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cadastro Empresa</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="shortcut icon" href="https://i.imgur.com/6K1Rk0S.png">




</head>

<body>
  <main class="d-flex align-items-center min-vh-100">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">

          <div class="col-md-6">


            
            <div class="card-body">
              <div class="brand-wrapper">
                <img src="../../assets/img/APRESEAtivo 2.png" alt="logo" class="logo">
              </div>
              <p class="login-card-description">Cadastre-se</p>
              <form>
                <div class="form-group">
                  <label for="foto" class="sr-only">Link da Foto</label>
                  <input [(ngModel)]='user.foto' class="form-control" type="text" name="foto" id="foto"
                    placeholder="Link da sua foto" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="Nome" class="sr-only">Nome da empresa</label>
                  <input [(ngModel)]='user.nomeCompleto' type="Nome" name="Nome" id="Nome" class="form-control"
                    placeholder="Empresa" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="email" class="sr-only">Email</label>
                  <input [(ngModel)]='user.login' type="email" name="email" id="email" class="form-control"
                    placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="Cnpj" class="sr-only">CNPJ</label>
                  <input type="Cnpj" name="Nome" id="Cnpj" class="form-control" placeholder="CNPJ">
                </div>
                <div class="form-group">
                  <label for="data" class="sr-only">Data de Nascimento</label>
                  <input [(ngModel)]='user.dataNascimento' type="date" name="dataNascimento" id="dataNascimento"
                    class="form-control" placeholder="Data de Nascimento">
                </div>
                <div class="form-group">
                  <label for="CEP" class="sr-only">CEP</label>
                  <input type="CEP" name="CEP" id="CEP" class="form-control" placeholder="CEP">
                </div>
                <div class="form-group">
                  <label for="Telefone" class="sr-only">Telefone</label>
                  <input type="Telefone" name="Telefone" id="Telefone" class="form-control" placeholder="Telefone">
                </div>
                <div class="form-group mb-4">
                  <label for="password" class="sr-only">Senha</label>
                  <input (input)='confirmSenha($event)' type="password" name="senha" id="senha" class="form-control"
                    placeholder="Senha">
                </div>
                <div class="form-group mb-4">
                  <label for="text" class="sr-only">Confirme sua senha</label>
                  <input [(ngModel)]='user.senha' type="password" name="confirmarSenha" id="confirmarsenha"
                    class="form-control" placeholder="Confirme sua senha">
                </div>

                <nav class="login-card-footer-nav mb-2">
                  <input class="form-check-input ml-2" type="checkbox" value="" id="rememberPasswordCheck">
                  <label class="form-check-label ml-4 mt-1" for="termosDeUso">
                    <a data-bs-toggle="modal" data-bs-target="#termosDeUso" data-toggle="modal" data-target="#termosDeUso"
                      data-toggle="modal" href="#">Li e Concordo com os Termos de Uso.</a>
                  </label>
                </nav>

                <div class="row d-flex justify-content-center">
                  <input (click)='cadastrar()' name="Cadastrar" id="Cadastrar" class="btn ml-4 login-btn mb-2"
                    type="button" value="Cadastrar">
                  <input routerLink='/home' name="Cancelar" id="Cancelar" class="btn ml-4 login-btn mb-2" type="button"
                    value="Cancelar">
                </div>
              </form>
            
            </div>
          </div>
          <div class="col-md-6">
            <img
              src="https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt="login" class="login-card-img">
          </div>
        </div>
      </div>

    </div>



    <!-- MODAL -->

    <div class="modal" id="termosDeUso" taria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center w-100">Termos de Uso - Gama &copy;</h5>

          </div>
          <div class="modal-body text-justify d-flex justify-content-center">
            <p><strong>TERMOS DE USO – PROJETO GAMA</strong> <br> <br>

              O Projeto Gama &copy; é uma proposta de plataforma web com o intuito de aproximar empresas que possuam
              oportunidades de carreira e queiram anunciar para pessoas estrangeiras* que buscam recolocação
              profissional no Brasil. <br> <br>

              É muito importante que você saiba como funciona nossa plataforma antes de começar a utilizá-la como
              ferramente de busca, candidatura e monitoramento de vagas anunciadas por empresas parceiras. Estes Termos
              de Uso regem o uso do site www.projetogama.com.br e seus aplicativos mobile. <br> <br>

              Ao utilizar os nossos serviços, você concorda com estes Termos de Uso e com as condições da Política de
              Privacidade, que definem a forma como são coletados, utilizados e armazenados seus dados e informações
              pessoais. <br> <br>

              <strong> 1. APLICABILIDADE. </strong> Estes Termo de Uso são aplicáveis aos usuários que desejam usar os
              serviços da
              plataforma para bucar oportunidades de carreira (“Candidatos”) e para as empresas que querem anunciar
              vagas de emprego (“Empresas”). <br> <br>

              <strong> 1.1. *Candidatos. </strong> O uso desta plataforma pelos Candidatos é retrita a
              profissionais residentes no Brasil e
              que sejam de outra nacionalidade que não a brasileira. Para comprovar sua situação como estrangeiro, o
              Candidato deverá completar o cadastro no Projeto Gama e apresentar os documentos solicitados. <br> <br>

              <strong>1.2. Empresas. </strong>As Empresas que tenham interesse em divulgar vagas com
              oportunidades de carreira aos
              Candidatos deverão fazer um cadastro no Projeto Gama, detalhando as condições da oportunidade de emprego.
              Todas as vagas divulgadas serão destinadas a pessoas estrangiras, conforme qualificações apresentadas
              pelos Candidatos. <br> <br>

              <strong>2. CADASTRO, CURRÍCULO e VAGAS. </strong> Para utilizar todos os recursos e funcionlidades
              da plataforma todos os
              usuários precisarão efetuar um cadastro ou como Candidato, e incluir seus dados e informações e preencher
              o currículo disponível na plataforma (“Currículo”) ou realizar seu cadastro como Empresa e preencher os
              requisitos necessários e informados na tela de cadastro e incluir as informações das oportunidades de
              carreira (“Vagas”). A plataforma e suas funcionalidades de navegação, cadastramento de currículo,
              utilização das ferramentas de busca, abertura e monitoramento e candidatura a Vagas desta plataforma são
              GRATUITAS, podendo o candidato manter seu currículo ativo pelo período que desejar. <br> <br>

              <strong>2.1. Cadastro. </strong>Todos os usuários que utilizarem esta plataforma deverão se
              cadastrar e preencher os
              requisitos solicitados na tela de cadastro e criar uma senha pessoal e intransferível para acesso à
              plataforma. Os Candidatos deverão ter idade mínima legal para se candidatar a uma Vaga anunciada (14 anos
              ou mais no Brasil, a depender da Vaga anunciada). <br> <br>

              <strong>2.2. Curríulo. </strong>Os Candidatos precisarão criar um Currículo no Projeto Gama para
              conseguir se candidatar a
              uma Vaga anunciada. No Currículo, o Candidato precisa preencher seus dados e qualificação profissional.
              <br> <br>

              <strong>2.3. Vagas.</strong> As Empresas que tenham interesse em divulgar vagas com oportunidades de
              carreira aos
              Candidatos deverão fazer incluir as informações da Vaga e anunciar. <br> <br>

              <strong>3. RESPONSABILIDADES.</strong> O Projeto Gama é uma plataforma com a finalidade de aproximar
              Candidatos / Empresas
              interessados em se candidatar / preencher Vagas de emprego. Desta forma, o Projeto Gama não se
              responsabiliza pela condução dos processos seletivos de cada Empresa, pela comunicação entre os Canditatos
              e as Empresas e nem atua como agente de monitoramento, fiscalização, edição ou aprovação de todo conteúdo
              publicado. O Projeto Gama se compromete em manter um espaço web para divulgação de oportunidades de
              emprego, não se responsabilizando pela efetiva participação do candidato, sua contratação ou pelas
              informações divulgadas pelas Empresas. <br> <br>

              <strong> 4. PROTEÇÃO DE DADOS PESSOAIS.</strong> Todas as disposições sobre coleta, uso e proteção de
              dados pessoais estão
              dispostas na nossa Política de Privacidade, disponível em: www.projetogama.com.br/politicadeprivacidade.
              <br> <br>

              <strong>5. PROPRIEDADE.</strong> O domínio www.projetogama.com.br e suas ramificações, bem como os
              conteúdos das telas do
              site são propriedade do Projeto Gama e estão protegidos pelas leis e tratados de propriedade intelectual.
              Você não deverá usar indevidamente ou reproduzir, total ou parcialmente, tais conteúdos, sem que haja
              expressa autorização. <br> <br>

              <strong> 6. DISPOSIÇÕES FINAIS</strong> <br> <br>

              Os usuários (Candidato e a Empresa) declaram expressamente que tomaram conhecimento destes Termos de Uso e
              que avaliara, leram e concordaram com todas as disposições e cláusulas aqui descritas. <br> <br>

              O Projeto Gama presta suporte técnico em caso de erro da plataforma, conforme horários e contatos
              divulgados no site. <br> <br>

              Estes Termos de Uso são regidas pelas leis vigentes na República Federativa do Brasil. Para dirimir
              eventuais dúvidas ou questões relativas a estes Termos de Uso, as partes elegem o Foro da Comarca de São
              Paulo/SP. <br> <br>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

          </div>
        </div>
      </div>
    </div>





  </main>

</body>

</html>
